div.container
  margin auto
  margin-top 20px
  text-align center
  border arrow-width solid transparent
  color #333
  width 300px
  height auto
  background #fff
  display inline-box

div.container.toolbar
  width inherit
  min-width fit-content
  margin auto
  margin-bottom 20px

div.container.form
  margin auto

div.container.list
  margin 1px
  float left

div.container.focus
  float left
  margin 1%

div.container.focus.province
  right 30%

div.container.focus.domain
  right 53%

div.container.focus.person
  float left
  position absolute
  min-width fit-content
  margin-left: 73%

div.table
  max-width: 70%
  float left
  overflow hidden