div.createPerson
  margin 1em
  overflow hidden
  position relative
  float left
  min-width fit-content
  width 15em
  text-align center

div.toolBar
  min-width fit-content
  margin auto

form.personForm
  margin 1em

div.filterField
  width 100px

div.dataList
  height 80%
  margin 1em
  overflow hidden
  position relative
  float left
  width 60em
  text-align center